:root{
    --verde: rgb(8, 165, 112);
    --blanco: white;
    --oscuro: black;

}


body {
    border: none;
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bg {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--verde);
}

.navegacion-principal {
    text-align: right;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
        /* ordenar elementos orisontalmente */
    }
}

.navegacion-principal a {
    text-align: center;
    padding-right: 90px;
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700; 
}

.navegacion-principal a{
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navegacion-principal a:hover {
    background-color: var(--blanco);
    color: var(--oscuro);
}


.logo-ecocashback {
    border-radius: 20px;
    background-color: white;
    width: 100px;
    height: 100px;

}