:root{
    --verde: #003E2C;
    --crema: #faf4f1;
    --blanco: white;
    --oscuro: black;
    --gris: #f5f5f5
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--gris);
}


/*Estilo barra de navegacion*/

header {
    background-color: var(--crema);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.container {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--crema);
}



.col a {
    padding: 5px;
    color: var(--verde);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700; 
    border-radius: 9px;
}

.col a{
    transition: background-color 0.7s ease, color 0.7s ease;
}

col a:hover {
    background-color: var(--verde);
    color: var(--oscuro);
}


.logo-ecocashback {
    border-radius: 20px;
    background-color: white;
    width: 75px;
    height: 75px;
}

.col a{
    padding: 5px;
    font-size: 20px;
}

col{
    padding: 0 0 !important;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon-user-nav{
    border: 2px solid var(--verde);
    border-radius: 50%;
    padding: 5px;
    color: var(--verde);
}
.nav_celular{
    display: none !important;
}

.cel-header{
    background-color: var(--crema);
}

.container .text-center .nav_regular{
    display: block !important;
}

@media (max-width: 899px){
    .nav_celular{
        display: block !important;
    }
    .nav_regular{
        display: none !important;
    }
}

/*Fin estilo barra de navegacion*/


/* Footer */

footer {
    background-color: var(--crema) !important;
}

footer .derechos {
    color: var(--verde) !important;
    text-align: center;
}

footer p {
    color: var(--verde) !important;
    text-align: center;
    padding-bottom: 10px;
}

.footer-links{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--verde) !important;
}

footer .footer-link-nombre {
    align-self: flex-start !important;
}

.footer-links a{
    color: var(--verde) !important;
    text-decoration: none;
}

/*Fin estilo footer */

/* Estilo login*/


.contenedor-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: var(--gris);

}

.titulo-form-login{
    color: var(--verde);
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;

}

.contenedor-form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: var(--crema); /* Cambia esto a cualquier color que necesites */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Esto añade un ligero sombreado alrededor del contenedor */
}

.imput-form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 90px;
}
