{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Región</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'admin_dashboard' %}">
                <img src="{% static 'img/logo-ecocashback.jpeg' %}" alt="Logo-EcoCashBack" width="30" height="30" class="d-inline-block align-top">
                EcoCashBack Admin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="eventosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Eventos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="eventosDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar_evento' %}">Listar</a></li>
                            <li><a class="dropdown-item" href="{% url 'agregar_evento' %}">Agregar</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Newsletter
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="newsletterDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar_newsletter' %}">Listar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar_users' %}">Listar</a></li>
                            <li><a class="dropdown-item" href="{% url 'agregar_usuario' %}">Agregar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="regionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Regiones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="regionesDropdown">
                            <li><a class="dropdown-item" href="{% url 'region_list' %}">Listar</a></li>
                            <li><a class="dropdown-item" href="{% url 'region_create' %}">Agregar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="comunasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Comunas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="comunasDropdown">
                            <li><a class="dropdown-item" href="{% url 'comuna_list' %}">Listar</a></li>
                            <li><a class="dropdown-item" href="{% url 'comuna_create' %}">Agregar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configuraciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>¿Está seguro que desea eliminar {{ object.nombre }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
    </form>
</body>
</html>