Django==5.0.6
psycopg2-binary==2.9.3  # PostgreSQL
mysqlclient==2.1.0  # MySQL
django-crispy-forms==1.14.0  # Para formularios bonitos
crispy-bootstrap5==0.6  # Bootstrap 5 para estilos en los formularios
Pillow==8.3.2  # Para manejo de imágenes
django-widget-tweaks==1.4.11  # Para facilitar la personalización de widgets de formularios