:root {
    --verde: #003E2C;
    --crema: #faf4f1;
    --gris: #f5f5f5;
    --azul: #33628c;
}

/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: var(--gris);
    color: var(--verde);
    margin: 0;
    padding: 0;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: var(--azul);
}

.navbar-brand, .navbar-nav .nav-link {
    color: var(--verde) !important;
}

.navbar-toggler-icon {
    color: var(--verde);
}

/* Estilo para los contenedores principales */
.container {
    margin-top: 20px;
    background-color: var(--crema);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los títulos */
h2 {
    color: var(--verde);
}

/* Estilo para los botones */
.btn-primary {
    background-color: var(--azul);
    border-color: var(--azul);
    color: var(--crema);
}

.btn-primary:hover {
    background-color: var(--verde);
    border-color: var(--verde);
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-secondary {
    background-color: var(--gris);
    border-color: var(--gris);
    color: var(--verde);
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
    color: var(--crema);
}

/* Estilo para los formularios */
form {
    margin-top: 20px;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-control {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
}

form .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilo para los mensajes */
.msg-correo-sus {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.msg-correo-sus .msg {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 4px;
}
