<!-- public/templates/registration/registro.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="container text-center nav_regular">
        <div class="row">
            <div class="col">
                <img class="logo-ecocashback" src="{% static 'img/logo-ecocashback.jpeg' %}" alt="Logo-EcoCashBack">
            </div>
            <div class="col">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col">
                <a href="{% url 'servicios' %}">Servicios</a>
            </div>
            <div class="col">
                <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
            </div>
            <div class="col">
                <a href="{% url 'contacto' %}">Contactanos</a>
            </div>
            <div class="col">
                {% if user.is_authenticated %}
                    <a href="{% url 'perfil' %}">Perfil</a>
                </div>
                <div class="col">
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                </div>
                <div class="col">
                    <a href="{% url 'registro' %}">Registro</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Registro de Usuario</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>